.box {
    border-style:solid;
    width:100px;
    height:100px;
    display: inline-block;
}
body {
    background-image: url("testbg.jpg");
    background-color: #1a2b41;
    background-repeat: no-repeat;
    background-position: center top;
}