.buttons{
    border-style:solid;
    width:10px;
    height:10px;
    display: inline-block;
}

#status {
	margin-top:20px;
	margin-left:157px;
	font-weight: bold;
}

#ledr {
	width:900px;
	margin:auto;
	margin-top: 287px;
	/*display: flex;
    justify-content: space-between;*/
}

.ledr {
	display:inline-block;
	margin-left:20px;
}
#sw {
	width:875px;
	margin:auto;
	margin-top: 50px;
	display: flex;
    justify-content: space-between;
}

#ledg {
	width:370px;
	margin:auto;
	margin-top: 60px;
	display: flex;
    justify-content: space-between;
}

#key {
	width:300px;
	margin:auto;
	margin-top: 60px;
	display: flex;
    justify-content: space-between;
}

body {
    background-image: url("testbg.png");
    background-color: #1a2b41;
    background-repeat: no-repeat;
    background-position: center top;
}
