.buttons{
    border:solid black;
    width:10px;
    height:10px;
    display: inline-block;
}

#status {
	margin-top:20px;
	margin-left:157px;
	font-weight: bold;
}

.group {
    margin:auto;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}

.wrapper {
	display:inline-block;
	text-align:center;
    color: white;
    font-size: 10pt;
}

#ledr {
    width:70%;
    margin-top: 287px;
}

#sw {
	width:875px;
	margin-top: 50px;
}

.sw {
    border:none;
    background-color: grey;
}

.switch {
    border:solid black;
    height: 30px;
    width: 15px;
    margin: auto;
}

.on {
    margin-top: 15px;
}

#ledg {
	width:370px;
	margin-top: 60px;
}

#key {
	width:300px;
	margin-top: 60px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-image: url("testbg.png");
    background-color: #1a2b41;
    background-repeat: no-repeat;
    background-position: center top;
}
