<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> FPGA On The Web </title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}" />
  </head>
  <body>
    <div id="status">
    </div>
    <div id="buttons">

      <div id="ledr">
        {% for i in range(num["ledr"]) %}
          <div id="ledr{{ i }}wrapper" class="wrapper">
            <div id="ledr{{ i }}" class="ledr buttons" ></div>
            <br>
            LED
            <br>
            R{{ i }}
          </div>
        {% end %}
      </div>

       <div id="sw">
        {% for i in range(num["sw"]) %}
          <div id="sw{{ i }}" class="sw buttons" ></div>
        {% end %}
      </div>

      <div id="ledg">
        {% for i in range(num["ledg"]) %}
          <div id="ledg{{ i }}" class="ledg buttons" ></div>
        {% end %}
      </div>



      <div id="key">
        {% for i in range(num["key"]) %}
          <div id="key{{ i }}" class="key buttons" ></div>
        {% end %}
      </div>

      <p> hex </p>
      {% for i in range(num["hex"]) %}
        <p> hex{{ i }} </p>
        {% for j in range(num["segments"]) %}
        <div id="hex{{ i }}-{{ j }}" class="hex buttons" ></div>
        {% end %}
      {% end %}
    </div>
    <br>
 <!--    <h> Data </h>
    <p>
      {{ data }}
    </p> -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <script src="{{ static_url("constants.js") }}"></script>
    <script src="{{ static_url("board.js") }}"></script>
    <script src="{{ static_url("main.js") }}"></script>
  </body>
</html>
